* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-weight: normal;
}

a {
  color: #000;
}
a:hover {
  color: white
}

h1 {
  color: #35303E;
  text-align: center;
  padding-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-left: 10px;
  text-indent: 20px;
  font-size: 22px;
  margin: 20px 0 40px;
  /* text-shadow: 1px 1px 0 #444; */
}

.game-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  height: 100vh;
}
.hud {
  background: #333;
  width: 500px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px 4px 0 0;
  border: 1px solid #666;
  border-width: 2px 2px 2px 2px;
}


.hud span {
  display: flex;
  border: 1px solid #464646;
  color: #fff;
  padding: 8px 20px;
  margin: 12px 0;
  background: #222;
  font-size: 16px;
  font-weight: bold;
  line-height: 1em;
  border-radius: 3px;
}
.hud span img {
  display: block;
  width: 16px;
  height: 16px;
}
.hud span em {
  font-weight: bold;
  font-style: normal;
  margin-left: 10px;
  display: inline-block;
}

canvas {
  background: #111 url(/assets/space-2.png);
  background-size: cover;
  border-radius: 0 0 4px 4px;
  border: 1px solid #666;
  border-width: 0px 2px 2px 2px;
}


.special {
  padding: 50px;
  background-color: #ff0;
}
.camera-controls {
  opacity: 0;
}
.camera-controls:hover {
  opacity: 1;
}
.camera-controls .value {
  color: #eee;
  /* width: 80px; */
  margin: 0 0px;
  font-size: 13px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.map-controls {
  opacity: 0;
}
.map-controls:hover {
  opacity: 1;
}



.object-label {
  font-size:12px;
  color: white;
  font-size: bold;
  text-transform: uppercase;
  transform: scale(1,1);
  /* border: 1px solid red; */
  
}
.object-label img {
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    /* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
    transform: scale(1,1);
  }
  70% {
      /* -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
      transform: scale(2,2);
  }
  100% {
      /* -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
      transform: scale(1,1);
  }
}
@keyframes pulse {
  0% {
    /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4); */
    transform: scale(1,1);
  }
  70% {
      /* -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0); */
      transform: scale(2,2);
  }
  100% {
      /* -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0); */
      transform: scale(1,1);
  }
}